<div class="palm-dashboard-controls-container">
    <div id="next" x-mojo-touch-feedback="immediate" class="control-button next"></div>
    <div id="playpause" x-mojo-touch-feedback="immediate" class="control-button play #{pause}"></div>
    <div id="likeunlike" x-mojo-touch-feedback="immediate" class="like-button like #{unlike}"></div>
</div>
<div class="palm-dashboard-text-container">
    <div id="song-name" class="dashboard-title">#{title}</div>
    <div class="palm-dashboard-text">#{artist}</div>
    
    <div style='' id="dashboard-player-art" class="album-art"></div>
    <div class="album-art-overlay"></div>
</div>