<!--<div class="palm-row no-highlight"  x-lorem-index='#{data}'>
	<div class="palm-row-wrapper">
		<div class="title">
			#{data}: <span class='lorem'>#{text}</span>
		</div>                                                                
	</div>
</div>-->
<div class="palm-row grid-cell" x-mojo-tap-highlight="delayed">
<link rel="stylesheet" type="text/css" href="stylesheets/list.css">
  <div class="title">
    <mixInfo="mixInfo">
    <set_id="set_id">
    <tag="tag">
    <timeSince="timeSince">
    <table style="padding:1pt;vertical-align:top;">
    <tr>
      <th id="col1"><img src="#{leftImage}" class="floatleft" x-mojo-tap-highlight="delayed"></th>
      <th id="col2">
        <dt id="titleText" style="font-family:Tahoma;font-size:13pt;"> #{title} </dt>
        <dt id="tagText"> #{tag} </dt>
        <dt id="time"> #{timeSince} by
        <span id="creator" x-mojo-tap-highlight="delayed">#{creator} </span>
        </dt>
      </th>
    </tr>
    </table>
  </div>  
</link>
</div>  