#addcomment{
	background: rgba(0,0,0,0.75) url(../images/plus_sign.png) center center no-repeat;
	background-position-x: 10px;
	position: fixed;
	width:45px;
	height:45px;
	bottom: 50px;
	right:-55px;
	display:block;
	z-index:9;
	-webkit-transition-property: right;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
.point {
  width: 0;
  height: 0;
  position: relative;
  bottom:-120px;
  left: 7px;
  display: block;
  border-left: 1.15em solid rgba(0,0,0,1.0); 
  border-bottom: 1.25em solid rgba(0,0,0,0); 
  overflow: hidden; /* IE fix */
}
#inputcomment{
    background-color:rgba(255,255,255,0.85);
    border:solid;
    border-color: black;
    position: fixed;
    width:280px;
    height:0px;
    bottom: -600px;
    left:-320px;
    /*display:block;*/
    z-index:20;
    -webkit-transform: scale(0.0,0.0);
    -webkit-transition-property: bottom, left, height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
}
#inputcomment.show{
	-webkit-transform: scale(1.0,1.0);
}
.sendbutton{
	position: relative;
	bottom:-25px;
	left:65px;
	color:white;
	padding: 5px;
	background:rgba(0,0,0,0.85);
	opacity:1;
}
.sendbutton.show{
	-webkit-transform: scale(1.0,1.0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out-in;
	opacity:1;
}
span.overlayaddcomment{
	position:relative;
	width:50px;
	height:50px;
	background: url(../images/plus.png) center center no-repeat;
	background-size: 100%;
	-webkit-transition: -webkit-transform .2s ease-in-out;
}

span.overlayaddcomment:hover, span.overlayaddcomment:active{
	-webkit-transform: scale(1.1,1.1);
}

@-webkit-keyframes fadein {
			0%   { opacity:0; }
			100% { opacity:1.0; }
		}
		