//@charset "utf-8";

.title#titleText {
	font-family: 'Times New Roman', sans-serif;
	padding: 2pt;
	vertical-align: top;
	font-size: 10pt;
}

dt#tagText {
	font-family: Helvetica, Georgia, sans-serif;
	color: #767676;
	font-size: 11pt;
}

th#col2 {
	padding: 2pt;
	text-align: left;
	vertical-align: top;
}

th#col1 {
 vertical-align: top;
 width: 70px;
}
dt#time {
	text-align: left;
	font-family: Impact;
	color: #545454;
	font-size: 10pt;
}
span#creator{
	//border:solid;  
	/*border-color:white; */
	background: rgba(0,0,0,0.75);
	padding: 2px;
	//background-color: white;  
	text-align: left;
	font-family: Impact;
	color: white;
	font-size: 9pt;
	-webkit-border-radius:3pt; 
}

.floatleft {
	float: left;
	vertical-align: text-top;
	margin: 1px;
	width: 60px;
	height: 60px;
	-webkit-border-radius:8px;
	-webkit-transform:rotate(-5deg);
	-webkit-transition: -webkit-transform .5s ease-out;
	border:none;
}
.floatleft:active,.floatleft:focus{
	z-index:10;
	-webkit-transform:rotate(2deg) scale(1,1);
}
	
dt#artistText {
	font-family: Georgia, sans-serif;
	color: #545454;
	font-size: 12pt;
}
dt#length {
	font-family: Georgia, sans-serif;
	color: #767676;
	font-size: 11pt;
}
div#currentSong {
	font-family: Helvetica, sans-serif;
	font-style: italic;
	font-size: 12pt;
}
div#oldSong {
	font-family: Arial, sans-serif;
	font-size: 12pt;
}
div#skippedSong {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	text-decoration: line-through; 
}
.likeimg {
	float: center;
	vertical-align: top;
	padding:10pt;
	-webkit-transition: -webkit-transform .5s ease-out;
}
.likeimg:active, .likeimg:visited{
	border:solid;  
	border-color:white; 
	background-color: #000000;  
	-webkit-border-radius:5pt; 
	padding:2pt; 
	-webkit-transform:rotate(360deg) scale(1.2,1.2);
}
.buyimg {
	float: center;
	vertical-align: top;
	padding:3pt;
	-webkit-transition: -webkit-transform .1s ease-out;
}
.buyimg:active{
	border:solid;  
	border-color:black; 
	background-color: #FFFFFF;  
	-webkit-border-radius:5pt; 
	padding:2pt; 
	-webkit-transform:rotate(0deg) scale(1.2,1.2);
}