<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title">
		Login
	</div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label">User</div>
           <div id="username" name="username" x-mojo-element="SmartTextField"></div>
		</div>	
    </div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="label">Pass</div>
		<div class="title">
           <div id="password" name="password" x-mojo-element="PasswordField"></div>
		</div>	
    </div>
</div>

<div class="palm-dialog-buttons">
	<div id="thanksButton" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Login...
		</div>
    </div>
    <div id="cancel_button" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Cancel
		</div>
    </div>
</div>